/.bundle/
/.yardoc
/.project
/Gemfile.lock
/gemfiles/.bundle
/gemfiles/vendor
/gemfiles/*gemfile.lock
/_yardoc/
/bin/
/coverage/
/doc/
/pkg/
/log/
/tmp/
/spec/reports/
/spec/**/db/*.sqlite3
/spec/**/log/*.log
/spec/**/tmp/pids/*.pid
/vendor/
